#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

:root {
  --background-color: #e0e0e0;
  --color: #1f1f1f;

}

[data-theme="dark"] {
  --background-color: #1f1f1f;
  --color: #e0e0e0;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

@font-face {
  font-family: 'Roboto-local';
  src: local('Roboto-local'), url('./assets/fonts/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.homepage {
  font-family: 'Roboto-local';

}

button {
  background-color: var(--background-color);
}